# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/static/
*.sqlite3

# Environment variables
.env
*.env

management/t s